/* palette colori  */
:root {
    --primary-color: #527255;
    --secondary-color: #87664e;
    --tertiary-color: #c29e7c;
    --quaternary-color: #fdf3eb;
    --colore-navbar:#FFFFFF ;
}
/* palette colori  */

body {
    background-color: #f5f7f9;
}

.tagesschrift-regular {
    font-family: "Tagesschrift", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 1.7rem;
  }  

  .btn-primary{
    background-color:#35414c;
    border-color: #35414c;
  }

/* inizio navbar */


.navbar{
    background-color: var(--colore-navbar);
    height: 80px;
    border-radius: 30px;
}

.logo{
    width: 80px;
    margin-left: 0px;
}

.navbar-brand {
    margin-left: 80px;
    color: #35414c;
}

.nav-link{
    color: #35414c;
}

.nav-item{
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.navbar-nav{
    margin-left: 30px;
}

.searchForm{
    width: 500px;
}

.form-control:focus{
    outline: none;
    border-color: #35414c;
    box-shadow: 2px 2px 5px #35414c;
}
/* fine navbar */